venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.idea/
.vscode/
.env
logs/*
reports/*
allure-results/
allure-report/




__pycache__/
*.pyc

.venv/
venv/
env/

.env

allure-results/
allure-report/

logs/
reports/

.idea/
.vscode/
