# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Pytest
.pytest_cache/
test-results.xml

# IDE
.idea/
.vscode/

# Test reports
allure-results/
allure-report/
logs/
reports/